.section--three--columns {
    width: 100%;
    background-image: url(../../../assets/bg-3-columns.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 6;

    .container--home {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.section--one--column {
    flex-basis: 30%;
    text-align: center;
    padding: 4.6rem 0 8.6rem 0;
}

.one--column--number {
    font-size: 9rem;
    line-height: 12.2rem;
    color: $darkYellowColor;
}

.one--column--title {
    font-size: 1.8rem;
    line-height: 3rem;
    color: $darkColor;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
}

.one--column--text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: $darkColor;
    font-family: $font-alt;
    font-weight: 300;
}

@media #{$mobileScreen} {
    .section--three--columns {
        .container--home {
            flex-direction: column;
        }
    }

    .section--one--column {
        flex-basis: 80%;
        padding: 4rem 0 4rem 0;
    }

    .one--column--text {
        width: 90%;
        margin: 0 auto;
    }
}

@media #{$mobileLargeScreen}, #{$laptopScreen}  {
    .section--three--columns {
        padding: 0 1.5rem;
        box-sizing: border-box;
    }
}