$mobileScreen: '(min-width: 320px) and (max-width: 599px)';
$mobileLargeScreen: '(min-width: 600px) and (max-width: 799px)';
$tableScreen: '(min-width: 800px) and (max-width: 1024px)';
$laptopScreen: '(min-width: 1025px) and (max-width: 1239px)';