.section--about--us {
    width: 100%;
    background-color: $whiteColor;
    display: flex;
}

.about--us--info--box {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 18rem;
    text-align: center;
    color: $darkColor;
    position: relative;
}

.about--us--title {
    @include titleSize;
    text-transform: uppercase;
}

.about--us--img {
    margin: 2.6rem 0 5.5rem 0;
}

.about--us--text {
    font-size: 3rem;
    line-height: 5.4rem;
}

.about--us--signature {
    margin-top: 4rem;
    position: absolute;
    right: 20%;
}

.about--us--bg--img {
    @include bgImg;
    flex-basis: 50%;
    height: 93rem;
    background-image: url(../../../assets/People.jpg);
}

@media #{$mobileScreen} {
    .section--about--us {
        flex-wrap: wrap;
    }

    .about--us--info--box {
        flex-basis: 100%;
        padding: 5rem 4rem 2rem 4rem;
    }

    .about--us--signature {
        margin-top: 2rem;
        width: 40%;
        right: 10%;
    }

    .about--us--bg--img {
        flex-basis: 100%;
        height: 50rem;
        margin-top: 17rem;
    }
}

@media #{$mobileLargeScreen} {
    .about--us--bg--img {
        flex-basis: 60%;
        height: 81rem;
    }

    .about--us--info--box {
        flex-basis: 40%;
        padding: 5rem 3rem 0rem 3rem;
    }

    .about--us--signature {
        margin-top: 3rem;
        width: 40%;
        right: 10%;
    }
}

@media #{$laptopScreen}, #{$tableScreen} {
    .about--us--info--box {
        padding: 9rem 4rem 2rem 4rem;
    }

    .about--us--signature {
        margin-top: 7rem;
    }
}