.section--contact {
    @include bgImg;
    width: 100%;
    height: 95rem;
    background-image: url(../../../assets/Background-Contact-Form.jpg);
    position: relative;
    
    .container--home {
        position: relative;
        height: 100%;
    }

    &::before {
        @include positionSize;
        content: '';
        background: #FFFFFFC9 0% 0% no-repeat padding-box;
    }
}

.contact--form {
    position: absolute;
    z-index: 2;
    margin: 0 0 0 auto;
    text-align: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

.contact--title {
    @include titleSize;
    text-align: center;
}

.contact--img {
    margin: 3.1rem 0 6rem 0;
}

.data--user--box {
    @include flexBetween;
    margin-bottom: 7rem;
    margin-top: 2rem;
    height: 3rem;
}

.contact--form--label {
    flex-basis: 47%;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $darkColor;
    font-weight: 600;
    box-sizing: border-box;
}

.contact--form--input {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    border-bottom: 1px solid $borderColor;
    background-color: transparent;
    padding: 1.5rem 0 .6rem 0;
}

.contact--form--textarea {
    width: 100%;
    height: 10.1rem;
    resize: none;
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid $borderColor;
    padding: 1.5rem 0 .6rem 0;
}

.contact--form--textarea, .contact--form--input {
    &::placeholder {
        color: #3C3C3C26;
        font-size: 1.8rem;
    }
}

.contact--label--textarea {
    display: block;
    text-align: left;
}

.contact--form--submit {
    display: block;
    margin: 4.4rem 0 0 auto;
    outline: none;
    border: .75px solid $darkColor;
    padding: 1.3rem 5.2rem;
    background-color: transparent;
    color: $darkColor;
    font-size: 1.8rem;
}

.contact--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2.2rem;
}

.footer--copyright {
    @include smallTitleSize;
}

.footer--icons {
    @include flexBetween;
    position: absolute;
    bottom: 0;
    right: 0;

    button {
        outline: none;
        background-color: transparent;
        border: 0;
    }

    .footer--icon {
        @include bgImg;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}

.footer--icon--fb {
    margin-right: 2rem;
    background-image: url(../../../assets/Facebook.svg);
}

.footer--icon--in {
    background-image: url(../../../assets/Instagram.svg);
}

.message--error {
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: rgb(247, 17, 17);
    font-family: $font-base;
}

.success--message {
    color: rgb(7, 134, 7);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: $font-base;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@media #{$mobileScreen} {
    .contact--form {
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .contact--form--textarea, .contact--form--input {
        &::placeholder {
            color: $darkColor;
            opacity: .6;
        }
    }

    .contact--form--textarea {
        height: 12rem;
    }
}

@media (max-width: 349px) {
    .footer--icon--fb {
        margin-right: .5rem;
    }

    .contact--form--textarea {
        height: 14rem;
    }

    .footer--copyright {
        font-size: 1.5rem;
    }
}

@media #{$mobileLargeScreen}, #{$tableScreen} {
    .contact--form {
        padding: 1.5rem;
    }

    .footer--icons {
        right: 1.5rem;
    }

    .contact--form--textarea, .contact--form--input {
        &::placeholder {
            color: $darkColor;
            opacity: .5;
        }
    }
}

@media #{$mobileLargeScreen} {
    .contact--form {
        width: 60%;
        padding: 1.5rem;
    }
}

@media #{$laptopScreen} {
    .contact--form {
        @include containerPadding;
    }
}