.container--home {
    max-width: 1700px;
    margin: 0 auto;
}

@media (max-width: 1399px) {
    .container--home {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .container--home {
        max-width: 1300px;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    .container--home {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) and (max-width: 1699px) {
    .container--home {
        max-width: 1500px;
    }
}

@media (min-width: 1700px) and (max-width: 1800px) {
    .container--home {
        max-width: 1600px;
    }
}