.log--out--box {
    @include flexCenter;
    width: 100%;
    height: calc(100vh - 12.4rem);
    flex-direction: column;
    font-family: $font-base;
}

.log--out--title {
    @include titleSize;
    width: 40%;
    text-align: center;
}

.log--out--img {
    margin: 2.5rem 0 3.5rem 0;
}

.log--out--btn {
    outline: none;
    border: .75px solid $darkColor;
    padding: 1.3rem 1.8rem;
    background-color: transparent;

    a {
        text-decoration: none;
        font-size: 1.8rem;
        color: $blackColor;
        font-weight: 300;
    }
}

@media #{$mobileScreen} {
    .log--out--title {
        font-size: 3.4rem;
        width: 85%;
        line-height: 4.5rem;
    }
}