.finish--form--box {
    @include flexCenter;
    margin: 0 auto 0 0 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.finish--title {
    @include titleSize;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.5rem;
    width: 80%;
}

@media #{$mobileScreen}, #{$mobileLargeScreen} {
    .finish--form--box {
        position: relative;
        z-index: 3;
        width: 100%;
    }

    .finish--title {
        font-size: 3.2rem;
    }
}

@media #{$mobileLargeScreen} {
    .finish--title {
        font-size: 3.5rem;
    }
}