.form--logged--in--box {
    width: 100%;
    height: calc(100vh - 18rem);
    display: flex;
    font-family: $font-base;
}

.form--bg {
    @include bgImg;
    width: 50%;
    height: 100vh;
    background-image: url(../../assets/Form-Hero-Image.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.form--description--box {
    @include flexCenter;
    text-align: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    margin: 0 0 0 auto;
    color: $darkColor;
}

.form--logged--in--title {
    @include titleSize;
}

.form--logged--in--img {
    margin: 2.5rem 0 2rem 0;
}

.form--subtitle {
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 300;
    margin-bottom: 5.6rem;
}

.form--square--box {
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form--square {
    @include flexCenter;
    width: 13rem;
    height: 13rem;
    border: .75px solid $darkColor;
    transform: rotate(45deg);
    position: relative;

    span {
        display: inline-block;
        transform: rotate(-45deg);
        font-weight: 300;
        line-height: 2.7rem;
    }
}

.square--number {
    font-size: 3.2rem;
    position: absolute;
    top: 10%;
    left: 10%;
}

.square--title {
    font-size: 2.2rem;
    width: 100%;
    z-index: 3;
}

// media query

@media #{$mobileScreen} {
    .form--logged--in--box {
        height: calc(100vh - 10.5rem);
        flex-wrap: wrap;

        .mobile--first--bg {
            @include positionSize;
            height: 100vh;
            opacity: .85;
        }
    }

    .form--bg {
        width: 100%;
    }

    .form--description--box {
        width: 100%;
        z-index: 3;
    }

    .form--square--box {
        margin-bottom: 7rem;
    }

    .form--square {
        width: 11rem;
        height: 11rem;
    }

    .square--title {
        font-size: 2rem;
    }

    .square--number {
        font-size: 3rem;
    }

    .form--subtitle {
        font-size: 3.4rem;
        line-height: 4.2rem;
    } 
}

@media (max-width: 399px) {
    .form--square {
        width: 7.5rem;
        height: 7.5rem;
    }

    .square--title {
        font-size: 1.6rem;
        line-height: 2rem !important;
    }

    .square--number {
        font-size: 2.5rem;
        top: 3%;
        left: 10%;
    }

    .form--logged--in--title {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    .form--square {
        width: 9rem;
        height: 9rem;
    }  
}

@media (max-width: 350px) {
    .form--logged--in--box {
        height: calc(100vh - 9.5rem);
    }
}

@media #{$tableScreen}, #{$mobileLargeScreen}, #{$laptopScreen} {
    .form--description--box {
        @include containerPadding;
    }
}


@media #{$tableScreen} {
    .form--square {
        width: 10rem;
        height: 10rem;
        
        span {
            line-height: 2.4rem;
        }
    }
}

@media #{$tableScreen}, #{$mobileLargeScreen} {
    .form--logged--in--box {
        height: calc(100vh - 10.5rem);
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .form--square {
        width: 12rem;
        height: 12rem;
    }
}

@media #{$mobileLargeScreen} {
    .form--btn--box {
        width: 77%;
    }
    
    .form--description--box {
        width: 60%;
        z-index: 3;
    }
    
    .form--square {
        width: 10rem;
        height: 10rem;
        
        span {
            line-height: 2rem;
            font-weight: 600;
        }
    }

    .form--body--box {
        .mobile--first--bg {
            @include positionSize;
            height: 100%;
        }
    }

    .section--form {
        .mobile--first--bg {
            @include positionSize;
            opacity: .6;
        }
    }
    
    .square--title {
        font-size: 1.8rem;
    }
    
    .square--number {
        font-size: 2.4rem;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .form--square--box {
        width: 84%;
    }
}

@media #{$mobileLargeScreen} {
    .form--square--box {
        width: 100%;
    }
}

@media #{$laptopScreen} {
    .form--logged--in--box {
        height: calc(100vh - 15rem);
    }
}