@import "../scss/settings/reset";
@import "../scss/settings/fonts";
@import "../scss/settings/colors";
@import "../scss/settings/variables";
@import "../components/Home/home";
@import "../components/Home/Navigation/navigation";
@import "../components/Home/ThreeColumns/threeColumns";
@import "../components/Home/AboutUs/aboutUs";
@import "../components/Home/FourSteps/fourSteps";
@import "../components/Home/WhoWeHelp/whoWeHelp";
@import "../components/Home/Header/header";
@import "../components/Home/Contact/contact";
@import "../components/Register/register";
@import "../components/Login/login";
@import "../components/Logout/logout";
@import "../components/Loggedin/loggedInForm";

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  background-color: white;
  width: 100%;
  height: auto;
}

@media (max-width: 1299px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1300px) and (max-width: 1399px) {
  html {
    font-size: 9px;
  }
}

button:hover, a:hover {
  transform: scale(1.05);
}

button, a {
  transition: .1s;
}
